*,
html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.leaflet-control-attribution {
  /* 隐藏Leaflet Logo */
  display: none;
}

/* 左侧 放大按钮 */
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  font-size: 26px !important;
  font-weight: 600 !important;
  border: none !important;
}

/* 左侧 缩小按钮 */
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  font-size: 26px !important;
  font-weight: 600 !important;
}

/* 左侧 按钮组 */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none !important;
}

.van-back-top {
  background-color: #5ea94a !important;
}
